src/main/resources/cpuType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="cpuType" >
        <xsd:sequence>
            <xsd:element name="quntityCore" type="xsd:int"/>
            <xsd:element name="frequency" type="xsd:float"/>
            <xsd:element name="cacheMemory" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    </xsd:schema>